.pagesContainer {
    margin: 40px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}
.buttonBack{
    padding: 8px;
    background-color: transparent;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    font-weight:600;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 0px #fcb92724,
     7px 7px 20px 0 #fde5c5;
    outline: none;
    border:#fcb92719;
}
.buttonBack:hover{
    box-shadow: 0 0 10px #291901;
}
.pageNumber{
    padding: 8px;
    background-color: transparent;
    border-radius: 5px;
    width: 52px;
    height: 25px;
    font-weight:600;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 0px #fcb92724,
     7px 7px 20px 0 #fde5c5;
    outline: none;
    border:#fcb92719;
}
.pageNumber:hover{
    box-shadow: 0 0 10px #291901;
}