.cardContainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
.cardContainer :hover{
    transform: scale(1.1);
}
.cardImage {
    object-fit: scale-down;
    height: 95%;
    width: 104%;
}